body {
	/*padding-top: 50px;*/
}
.bg-brand-primary {
	color: #fff;
	background: #102141;
}
.btn-brand-primary {
	background: #a60a28;
	color: #fff;	
}
blockquote.block {
	font-family: "Merriweather", "Open Sans", sans-serif;
	font-size: 20px;
	text-align: center;
	color: #fff;
	background: #634CB3;
	margin-left: -15px;
	margin-right: -15px;
	border-left: 8px solid #230781;
}
.spaced-out blockquote.block, .spaced-out-h blockquote.block {
	margin-left: -65px;
	margin-right: -65px;
}
blockquote.block small {
	color: #fff;
	font-size: 14px;
	font-style: italic;
}

/**
 * Helpers
 */
img.img-center {
	display: block;
	margin: 0 auto;
}
a {
	/*border-bottom: 1px dotted #0C61D0;*/
	color: #397DBE;
}
.btn-cta {
	font-size: 24px;
	margin: 50px;
	padding: 10px 50px;
	background: #a60a28;
	color: #fff;
}
.panel {
	border-radius: 5px;
}
.spaced-out {
	padding: 65px;
}
.spaced-out-h {
	padding-left: 65px;
	padding-right: 65px;
}
.spaced-out-v {
	padding-top: 65px;
	padding-bottom: 65px;
}
.bg-edition {
	background: #dadfe1;
	color: #333;
}
.heading-edition {
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	line-height: 40px;
}
h1.heading-edition {
	font-size: 40px;
}
h2.heading-edition {
	border-top: 1px solid #ccc;
	padding-top: 20px;
	font-size: 35px;
}
h3.heading-edition {
	font-size: 28px;
}
h4.heading-edition {
	font-size: 20px;
}
h5.heading-edition {
	font-size: 16px;
}
h6.heading-edition {
	font-size: 14px;
}
.text-edition {
	line-height: 28px;
	font-size: 17px;
	font-family: "Merriweather", "Open Sans", sans-serif;
}
.edition-meta {
	font-family: "Courier New", sans-serif;
	text-transform: uppercase;
}

/**
 * Head Banner
 */
section.head-banner {
	padding: 100px 0px 100px;
	text-align: center;
}

/**
 * Secondary Banner
 */
section.secondary-banner {
	padding: 50px 0px 100px;
	text-align: center;
}

/**
 * Me Box
 */
section#me {
	padding: 100px 0px;
}
section#me img.avatar {
	margin-top: 20px;
}
section#me p.bio {
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}
section#me a {
	border-bottom: 1px dotted #fff;
	color: #fff;
}

/**
 * Segment Boxes
 */
div.segment-box {
	padding: 30px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}

/**
 * Edition Styles
 */
.title-area {
	text-align: center;
}
article {
	margin-top: 25px;
	margin-bottom: 25px;
}
article.wisdom {
	position: relative;
	margin-left: -65px;
	margin-right: -65px;
	font-size: 16px;
	padding: 15px 65px;
}
article.wisdom.wisdom-green {
	border: 1px solid #129951;
	border-left-width: 8px;
	border-right-width: 0px;
}
article.wisdom.wisdom-red {
	border: 1px solid #CB372B;
	border-left-width: 8px;
	border-right-width: 0px;
}
article.wisdom.wisdom-blue {
	border: 1px solid #2E7DCA;
	border-left-width: 8px;
	border-right-width: 0px;
}
article.wisdom.wisdom-orange {
	border: 1px solid #E77829;
	border-left-width: 8px;
	border-right-width: 0px;
}
.edition-subscription-area {
	padding-bottom: 0px;
}
/*.edition-subscription-area > section {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}*/
span.wisdom-label {
	position: absolute;
	top: 0;
	left: 0;
	border-bottom-right-radius: 5px;
	font-size: 13px;
	padding: 0px 10px;
	font-family: "Open Sans", sans-serif;
}
span.wisdom-label > a {
	color: #333;
	opacity: 0.2;
	position: absolute;
	right: -20px;
}
span.wisdom-label > a:hover {
	opacity: 1;
}
.wisdom-green > span.wisdom-label {
	background: #129951;
	color: #fff;
}
.wisdom-red > span.wisdom-label {
	background: #CB372B;
	color: #fff;
}
.wisdom-blue > span.wisdom-label {
	background: #2E7DCA;
	color: #fff;
}
.wisdom-orange > span.wisdom-label {
	background: #E77829;
	color: #fff;
}