body {
	/*padding-top: 50px;*/
}
.bg-brand-primary {
	color: #fff;
	background: #102141;
}
.btn-brand-primary {
	background: #a60a28;
	color: #fff;	
}

/**
 * Helpers
 */
img.img-center {
	display: block;
	margin: 0 auto;
}
a {
	/*border-bottom: 1px dotted #0C61D0;*/
	color: #0C61D0;
}
.btn-cta {
	font-size: 24px;
	margin: 50px;
	padding: 10px 50px;
	background: #a60a28;
	color: #fff;
}

/**
 * Head Banner
 */
section.head-banner {
	padding: 100px 0px 100px;
	text-align: center;
}

/**
 * Secondary Banner
 */
section.secondary-banner {
	padding: 50px 0px 100px;
	text-align: center;
}

/**
 * Me Box
 */
section#me {
	padding: 100px 0px;
}
section#me img.avatar {
	margin-top: 20px;
}
section#me p.bio {
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}
section#me a {
	border-bottom: 1px dotted #fff;
	color: #fff;
}

/**
 * Segment Boxes
 */
div.segment-box {
	padding: 30px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}

/**
 * Edition Styles
 */
.title-area {
	padding: 50px 0px;
	text-align: center;
}