body {
	/*padding-top: 50px;*/
}

/**
 * Head Banner
 */
section.head-banner {
	padding: 100px 0px 100px;
	text-align: center;
	color: #fff;
	background: #102141;
	/*background: #333;*/
	/*background: url('../images/patterns/food.png');*/
}
section.head-banner .btn-cta {
	font-size: 24px;
	margin: 50px;
	padding: 10px 50px;
	background: #a60a28;
	color: #fff;
}